<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>history</title>
    <style>
      body {
            background: url(https://oir.mobi/uploads/posts/2021-03/1616530676_12-p-morskoi-fon-15.jpg);
            background-size: cover;
      }
       A:link {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
   }
   A:visited { text-decoration: none; }
   A:active { text-decoration: none; }
    A:hover {
    font-size: 24px; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание */
    color: white; /* Цвет ссылки */
   }
   h1 {

   }
    </style>
</head>
<body>
    <p class="text-justify">
        Относительно современная история порта начинается с 1899 года, когда он подвергся серьезной реконструкции в соответствии с изменившимися характеристиками судов. Был построен специализированный грузовой причал длиной 113 метров — «Пирс насыпной» — революция в анапской гидроинженерии. В 2006 году компания «Черноморские Скоростные Линии» в лице группы предпринимателей заключила договор с ОАО «Новороссийский морской торговый порт» о передаче в собственность порядком обветшавшего здания Анапского морского порта, пассажирских судов, перегрузочной техники. Землю, находящуюся в федеральной собственности, взяли в аренду. </p>
    <p>Опыт работы специалистов, ставших инвесторами, научил подходить к бизнесу системно — с предварительными расчетами, маркетинговой стратегией, вхождением в рынок, с учетом издержек и пониманием величины прямой и косвенной выгоды. Поэтому понимали, за что взялись.

На инвестиционном форуме в Сочи-2013 было подписано трехстороннее соглашение о реконструкции порта с объемом инвестиций в два миллиарда рублей. Финансирование предусматривается стопроцентно из частных вложений, — случай для проекта такого уровня достаточно редкий.

</p> <p>Согласно проекту реконструкция разбита на несколько этапов.  Первое, самое необходимое — удлинение причала и техническая модернизация. Затем планируется построить новое здание морвокзала, а после приступить к благоустройству набережной. На прилегающей территории должно быть построено современное помещение вокзала, автопарковка на 500 мест, гостиница, офисный комплекс, оздоровительная и рекреационная зоны, детские площадки, развлекательный центр. Также в проектные планы входит создание яхт-марины «Горгиппия», что полностью соответствует концепции развития всей причерноморской береговой линии и, разумеется, создаст дополнительные коммерческие и социальные возможности.

Эксперты известной аудиторско-консалтинговой группы посчитали, что реализация данного проекта позволит говорить в конечном счете о мультипликативном эффекте: реконструкция Анапского морпорта даст толчок к развитию многих смежных отраслей. Начиная от сугубо промышленной, туристической, отельной, пищевой и т.д. А это — десятки новых рабочих мест и серьезные налоговые платежи в бюджеты всех уровней.

</p> <p>Проектная документация по настоящему проекту была разработана проектно-изыскательским и научно-исследовательским институтом морского транспорта «Новоморниипроект». Проект сооружения для подъема собственных судов с причалом приемки пассажирских судов включил в себя гидротехнические и конструктивные решения; предпроектные проработки; проведение инженерной разведки на наличие взрывоопасных предметов времен Великой Отечественной войны; топографо-геодезические работы; инженерно-геологические изыскания.

В итоге: за три года работ завершена реконструкция причала «Пирс насыпной» его удлинили на 141 метр (более чем вдвое), в комплексе с ним построили площадку для приема судов. На причале «Пирс насыпной» смонтирован кран «Барс» (последнее слово техники), предназначенный для перегрузки крупногабаритных, тяжеловесных грузов массой до 150 тонн внутри пролета крана, в том числе для подъема судов, для докового обслуживания и хранения.

</p> <p>Основным направлением работы морской судоходной компании «Черноморские Скоростные Линии» является развитие морского пассажирского транспорта и регулярных морских пассажирских перевозок.

В марте 2014 года, после вхождения полуострова Крым в Российскую Федерацию, компания приняла активное участие в организации морского сообщения с полуостровом, выступив как оператор порта и полностью организовав в Анапе обслуживание пассажиров и судов данного маршрута. Прибывшая в Анапу по случаю открытия нового маршрута правительственная комиссия высоко оценила факт, что порт так оперативно и своевременно подготовился к изменившимся реалиям. В 2014 году по маршруту Анапа — полуостров Крым было перевезено около 15 тысяч пассажиров.
    </p>
    <br><br><br>
    <a href="{{url_for('menu_choice')}}"> Вернуться назад </a>
</body>
</html>