<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Доступ закрыт</title>
</head>
<style>
    body {
            background: url('https://img.geliophoto.com/amtp/22_amtp.jpg');
            background-size: cover;
    }
   A:link {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
   }
   A:visited { text-decoration: none; }
   A:active { text-decoration: none; }
    A:hover {
    font-size: 24px; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание */
    color: white; /* Цвет ссылки */
   }
</style>
<body>
    {% block internal_users %}{% endblock %}
    {% block external_users %}{% endblock %}
    <a href="/">В главное меню</a>
</body>
</html>
